
<div class="flex justify-between nav">
    <button mat-stroked-button color="primary" [routerLink]="ref"  ><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
    <div class="page-name capitalize">Mr/Ms. {{data.name}} (<span *ngIf="data.gender=='m'">Male</span> <span *ngIf="data.gender=='f'">female</span>)</div>
</div>
<div class="border-line"></div>
<mat-card class="mt-1  s-smaller">
   <div class="flex flex-row justify-between">
       <span  class="heading profile-heading"><strong> {{data.name}} </strong></span>
       <div class="border-line"></div>

       <img *ngIf="!data.picProfilePic" src="assets/1586650.png" height="50" />
       <img *ngIf="data.picProfilePic" [src]="data.picProfilePic" height="50" />
   </div>
   <div class="border-line"></div>
   <div class="flex flex-column justify-between">
        <span  class="label-field">{{data.address}}</span>
        <span  class="label-field">Cell: {{data.cellphone}} </span>
        <span  class="label-field">Email: {{data.email}}</span>
    </div>
    <div class="border-line"></div>
   <div class="flex flex-column justify-between">
        <span *ngIf="data.iddirivinlicenseno" class="label-field">Driving License: {{data.iddirivinlicenseno}}</span>
        <span *ngIf="data.picdirivinlicenseno" class="label-field"><img [src]="data.picdirivinlicenseno" height="180" /></span>

        <span *ngIf="data.idadharcard" class="label-field">Adhar Card: {{data.idadharcard}}</span>
        <span *ngIf="data.picadharcard" class="label-field"><img [src]="data.picadharcard" height="180" /></span>
        
        <span *ngIf="data.idpancard" class="label-field">PAN Card: {{data.idpancard}}</span>
        <span *ngIf="data.picpancard" class="label-field"><img [src]="data.picpancard" height="180" /></span>
        
        <span *ngIf="data.idothercard" class="label-field">Other Card: {{data.idothercard}}</span>
        <span *ngIf="data.picothercard" class="label-field"><img [src]="data.picothercard" height="180" /></span>
        
    </div>
    <div class="border-line"></div>
    <div class="flex">
    <div class="notify flex flex-column justify-between ">
        <span>Intellectual Property Rights</span>
               
        <div class="flex flex-column"><span class="text-medium">Other than the content you own, under these Terms, Cafe and/or its licensors own all the intellectual property rights.
            You are granted limited license only for purposes of accessing the material.</span></div>
        <span>Unacceptable use of the internet </span>
           
        <div class="flex flex-column"><span class="text-medium">Sending or posting discriminatory, harassing, or threatening messages or images on the Internet 
            Using computers to perpetrate any form of fraud, and/or software, film or music piracy
            Stealing, using, or disclosing someone else's password without authorization
            Downloading, copying or pirating software and electronic files that are copyrighted or without authorization
            Sharing confidential material, trade secrets, or proprietary information outside of the organizatio
            Hacking into unauthorized websites
            Sending or posting information that is defamatory to the company, its products/services, Introducing malicious software onto the network and/or jeopardizing the security of the organization's electronic communications systems
            Sending or posting chain letters, solicitations, or advertisements not related to business purposes or activities
            Passing off personal views as representing those of the organization.</span></div>
      </div
    ></div>
    <div class="border-line"></div>
    <div class="flex flex-row justify-between">
        <button [routerLink]="ref" color="warn" mat-flat-button><mat-icon>highlight_off</mat-icon>Disagree</button>
        <button (click)="onCheckIn()" color="primary" mat-flat-button><mat-icon>check</mat-icon>Agree</button>
        
    </div>
</mat-card>