<div class="header opacity-0 p-1  flex justify-between">
    <div class="flex  p-2">
        <mat-icon>toll</mat-icon>
        <span class="title">Cyber Cafe</span>
    </div>
</div>

<div class="flex justify-between nav">
    <button mat-stroked-button color="primary" routerLink="/checkinout"  ><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
    <div class="page-name">Mr. Nasir Sayed (Male)</div>
</div>
<div class="border-line"></div>
<mat-card class="mt-1  s-smaller">
   <div class="flex flex-row justify-between">
       <span  class="heading profile-heading"><strong>Nasir Sayed</strong></span>
       <div class="border-line"></div>
       <img src="assets/1586650.png" height="50" />
   </div>
   <div class="border-line"></div>
   <div class="flex flex-column justify-between">
        <span  class="label-field">327 West Side Drive #302, Gaithersburg MD 20878</span>
        <span  class="label-field">Cell: +1 408-477-7455</span>
        <span  class="label-field">Email: nasir.us@gmail.com</span>
    </div>
    <div class="border-line"></div>
   <div class="flex flex-column justify-between">
        <span  class="label-field">Driving License: 124548940215156</span>
        <span  class="label-field"><img src="assets/dl-license-sample.jpg" height="180" /></span>
        <span  class="label-field">Adhar Card: 1251 1662 1254 1236</span>
        <span  class="label-field"><img src="assets/adhar-card-sample.jpg" height="180" /></span>
        
    </div>
    <div class="border-line"></div>
    <div class="flex flex-row justify-between">
        <button (click)="onCheckIn()" color="primary" mat-flat-button><mat-icon>check</mat-icon>Check-IN</button>
        <button disabled="true" color="warn" mat-flat-button><mat-icon>highlight_off</mat-icon>Check-Out</button>
    </div>
</mat-card>