<div class="header opacity-0 p-1  flex justify-between">
    <div class="flex  p-2">
        <mat-icon>toll</mat-icon>
        <span class="title">Cyber Cafe</span>
    </div>
</div>

<div class="flex justify-between nav">
    <button mat-stroked-button color="primary" routerLink="/checkinout"  ><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
    <div class="page-name">Mr. Nasir Sayed (Male)</div>
</div>
<div class="border-line"></div>
<mat-card class="mt-1  s-smaller">
   <div class="flex flex-row justify-between">
       <span  class="heading profile-heading"><strong>Nasir Sayed</strong></span>
       <div class="border-line"></div>
       <img src="assets/1586650.png" height="50" />
   </div>
   <div class="border-line"></div>
   <div class="flex flex-column justify-between">
        <span  class="label-field">327 West Side Drive #302, Gaithersburg MD 20878</span>
        <span  class="label-field">Cell: +1 408-477-7455</span>
        <span  class="label-field">Email: nasir.us@gmail.com</span>
    </div>
    <div class="border-line"></div>
   <div class="flex flex-column justify-between">
        <span  class="label-field">Driving License: 124548940215156</span>
        <span  class="label-field"><img src="assets/dl-license-sample.jpg" height="180" /></span>
        <span  class="label-field">Adhar Card: 1251 1662 1254 1236</span>
        <span  class="label-field"><img src="assets/adhar-card-sample.jpg" height="180" /></span>
        
    </div>
    <div class="border-line"></div>
    <div class="flex">
    <div class="notify flex flex-column justify-between ">
        <span>Intellectual Property Rights</span>
               
        <div class="flex flex-column"><span class="text-medium">Other than the content you own, under these Terms, Cafe and/or its licensors own all the intellectual property rights.
            You are granted limited license only for purposes of accessing the material.</span></div>
        <span>Unacceptable use of the internet </span>
           
        <div class="flex flex-column"><span class="text-medium">Sending or posting discriminatory, harassing, or threatening messages or images on the Internet 
            Using computers to perpetrate any form of fraud, and/or software, film or music piracy
            Stealing, using, or disclosing someone else's password without authorization
            Downloading, copying or pirating software and electronic files that are copyrighted or without authorization
            Sharing confidential material, trade secrets, or proprietary information outside of the organizatio
            Hacking into unauthorized websites
            Sending or posting information that is defamatory to the company, its products/services, Introducing malicious software onto the network and/or jeopardizing the security of the organization's electronic communications systems
            Sending or posting chain letters, solicitations, or advertisements not related to business purposes or activities
            Passing off personal views as representing those of the organization.</span></div>
      </div
    ></div>
    <div class="border-line"></div>
    <div class="flex flex-row justify-between">
        <button (click)="onCheckIn()" color="primary" mat-flat-button><mat-icon>check</mat-icon>Agreed</button>
        <button routerLink="/checkinout" color="warn" mat-flat-button><mat-icon>highlight_off</mat-icon>Disagreed</button>
    </div>
</mat-card>