<div class="header opacity-0 p-1  flex justify-between">
    <div class="flex  p-2">
        <mat-icon>toll</mat-icon>
        <span class="title">Cyber Cafe</span>
    </div>
</div>

<div class="flex justify-between nav">
    <button mat-stroked-button color="primary" routerLink="/admindashboard"  ><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
    <div class="page-name">Terminal Available</div>
</div>
<div class="border-line"></div>
<div class="flex flex-warp"  [ngClass]="pcCode || step != 1 ? 'opacity-20' : ''">
<mat-card class="mt-1  s-smaller computer-prompt">
   <div class="flex flex-column  ">
    <span  class="heading profile-heading  flex justify-between "><strong>PC - 001</strong></span>
    <mat-icon class="computer-prompt-icon green">desktop_mac</mat-icon>
       <span class="green">Ready</span>
       <div class="flex justify-between">
          <button  mat-icon-button ><mat-icon>remove_circle_outline</mat-icon></button>
          <span class="mt-2">1 hr</span>
          <button  mat-icon-button ><mat-icon>add_circle_outline</mat-icon></button>
       </div>
       <button (click)="onAvailablePC()" color="primary" mat-stroked-button>Available</button>
   </div>
   

</mat-card>

<mat-card class="mt-1  s-smaller computer-prompt">
    <div class="flex flex-column  ">
     <span  class="heading profile-heading flex justify-between"><strong>PC - 006</strong></span>
     <mat-icon class="computer-prompt-icon green">desktop_mac</mat-icon>
 
        <span class="green">Ready</span>
        <div class="flex justify-between">
          <button  mat-icon-button ><mat-icon>remove_circle_outline</mat-icon></button>
          <span class="mt-2">1 hr</span>
          <button  mat-icon-button ><mat-icon>add_circle_outline</mat-icon></button>
       </div>
        <button color="primary" mat-stroked-button>Available</button>
    </div>
    
 
 </mat-card>
 

<mat-card class="mt-1  s-smaller computer-prompt">
    <div class="flex flex-column  ">
        
        <span  class="heading profile-heading flex justify-between "><strong>PC - 002</strong></span>
     
        
     <mat-icon class="computer-prompt-icon red">desktop_mac</mat-icon>
        <span class="red">Busy</span>
        <div class="flex justify-between">
          <span class="mt-3">(</span>
          <span class="mt-3">1hr 30m</span>
          <span class="mt-3">)</span>
       </div>
        <button color="warn" mat-stroked-button>Lock</button>
    </div>
 </mat-card>

 <mat-card class="mt-1  s-smaller computer-prompt">
    <div class="flex flex-column  ">
     <span  class="heading profile-heading  flex justify-between"><strong>Misc</strong></span>
     <mat-icon class="computer-prompt-icon orange">desktop_mac</mat-icon>
     <span>Printer, Scanner, Game & Other</span>
     <span>&nbsp;</span>
     <button  routerLink="/cashdeposit" color="primary" mat-stroked-button>Select</button>
    </div>
 </mat-card>


 
 <mat-card class="mt-1  s-smaller computer-prompt">
    <div class="flex flex-column  ">
     <span  class="heading profile-heading "><strong>PC - NEW</strong></span>
     <span>New</span>
     <mat-icon class="computer-prompt-icon">desktop_mac</mat-icon>
        <span >Setup</span>
        <button routerLink="/agentsetup" color="primary" mat-flat-button>Go</button>
    </div>
 </mat-card>
</div>


<div class="flex flex-warp admin-password" *ngIf="step != 1">
    <mat-card class="mt-1  w-100 m-2 ">
        <div class="flex flex-column  ">

            <span  class="heading profile-heading  flex justify-between "><strong>Verify the administrator password</strong></span>
            <span class="label-field">Password (required)</span>
            <mat-form-field appearance="outline"  [formGroup]="form">
                <mat-icon matSuffix>lock</mat-icon>
            
                <input matInput type="password"  required formControlName="password">
                <mat-error *ngIf="hasError('password', 'required')">Email is <strong>required</strong></mat-error>
                <mat-error *ngIf="hasError('password', 'minlength')">password should be minimum 5 character length</mat-error>
                <mat-error *ngIf="hasError('password', 'maxlength')">password should be below 30 character length</mat-error>
                
                
            </mat-form-field>
            <div class="flex justify-center">
                <button mat-stroked-button color="primary" (click)="step = 1"  ><mat-icon>keyboard_arrow_left</mat-icon>Back</button>

                <button color="primary" (click)="onVerifyAdminPassword()" mat-flat-button>Verify</button>
            </div>
        </div>
    

    </mat-card>


</div>


<div class="flex flex-warp admin-password" *ngIf="pcCode">
    <mat-card class="mt-1  w-100 m-2 ">
        <div class="flex flex-column  ">

            <span  class="heading profile-heading  flex justify-center "><mat-icon>security</mat-icon><strong>PC 001 - Access code generated</strong></span>
            <div class="border-line"></div>
            <span class="access-code">{{pcCode}}</span>
            <div class="notify flex justify-center ">
                <mat-icon>devices</mat-icon>
                <div class="flex flex-column"><span class="text-medium">Go to the PC - 001 and enter the above code to unlock the computer.</span><span class="text-smaller"></span></div>
              </div>
            <div class="flex justify-center">
                <button color="primary" routerLink="/cashdeposit" mat-flat-button>Cash Deposit</button>
                <button color="primary" routerLink="/admindashboard" mat-stroked-button>Payment Later</button>
            </div>
        </div>
    

    </mat-card>


</div>

<div class="flex flex-warp admin-password" *ngIf="cashDeposit">
    <mat-card class="mt-1  w-100 m-2 ">
     
    

    </mat-card>


</div>

