<div class="header opacity-0 p-1  flex justify-between">
    <div class="flex  p-2">
        <mat-icon>toll</mat-icon>
        <span class="title">Cyber Cafe</span>
    </div>
</div>

<div class="flex justify-between nav">
    <button mat-stroked-button color="primary" routerLink="/checkinout"  ><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
    <div class="page-name">Terminal Available</div>
    <button mat-stroked-button color="primary"  >Settings</button>
</div>
<div class="border-line"></div>
<div class="flex flex-warp">
<mat-card class="mt-1  s-smaller computer-prompt">
   <div class="flex flex-column  ">
    <span  class="heading profile-heading "><strong>PC - 001</strong></span>
    <mat-icon class="computer-prompt-icon green">desktop_mac</mat-icon>
       
       <span class="green">Ready</span>
       
       <button color="primary" mat-stroked-button>Available</button>
   </div>
   

</mat-card>

<mat-card class="mt-1  s-smaller computer-prompt">
    <div class="flex flex-column  ">
     <span  class="heading profile-heading "><strong>PC - 006</strong></span>
     <mat-icon class="computer-prompt-icon green">desktop_mac</mat-icon>
        
        <span class="green">Ready</span>
        
        <button color="primary" mat-stroked-button>Available</button>
    </div>
    
 
 </mat-card>
 

<mat-card class="mt-1  s-smaller computer-prompt">
    <div class="flex flex-column  ">
     <span  class="heading profile-heading "><strong>PC - 002</strong></span>
     <span>(1hr 30m)</span>
     <mat-icon class="computer-prompt-icon red">desktop_mac</mat-icon>
        <span class="red">Busy</span>
        <button color="warn" mat-stroked-button>Not Available</button>
    </div>
 </mat-card>

 <mat-card class="mt-1  s-smaller computer-prompt">
    <div class="flex flex-column  ">
     <span  class="heading profile-heading "><strong>PC - 003</strong></span>
     <span>(1hr 30m)</span>
     <mat-icon class="computer-prompt-icon red">desktop_mac</mat-icon>
        <span class="orange">Broken</span>
        <button color="accent" mat-stroked-button>Need Maintaince</button>
    </div>
 </mat-card>


 
 <mat-card class="mt-1  s-smaller computer-prompt">
    <div class="flex flex-column  ">
     <span  class="heading profile-heading "><strong>PC - NEW</strong></span>
     <span>New</span>
     <mat-icon class="computer-prompt-icon">desktop_mac</mat-icon>
        <span >Setup</span>
        <button color="primary" mat-flat-button>Go</button>
    </div>
 </mat-card>
</div>