

<div class="flex justify-between nav">
    <button mat-stroked-button color="primary" routerLink="/admindashboard"  ><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
    <div class="page-name">Agent Setup</div>
    
</div>
<div class="border-line"></div>


<div class="flex flex-warp" *ngIf="step == 1">
    <mat-card class="mt-1  w-100 m-2 ">
        <div  class="flex flex-column  ">
            <span class="label-field">New Cafe Agent Computer Name (required)</span>
            <mat-form-field appearance="outline"  [formGroup]="form">
                <mat-icon matSuffix>computer</mat-icon>
                <input matInput required formControlName="computerName" placeholder="PC - 232" maxlength="8">
            
                
            </mat-form-field>
            
        </div>
        <div class="flex flex-column  ">
            
            <div *ngIf="adminValidPassword" class="notify flex nav-red">
                <mat-icon>info</mat-icon> 
                <div class="flex flex-column "><span class="text-medium">Admin Password doesn't matched.</span><span class="text-smaller"></span></div>
            </div>

            <div *ngIf="pcNameExists" class="notify flex ">
                <mat-icon>info</mat-icon> 
                <div class="flex flex-column"><span class="text-medium">PC Name already exists in the record.</span><span class="text-smaller"></span></div>
            </div>

            <span  class="heading profile-heading  flex justify-between "><strong>Verify the administrator password</strong></span>
            <span class="label-field">Password (required)</span>
            <mat-form-field appearance="outline"  [formGroup]="form">
                <mat-icon matSuffix>lock</mat-icon>
            
                <input matInput type="password" placeholder="******"  required formControlName="password">
                <mat-error *ngIf="hasError('password', 'required')">Email is <strong>required</strong></mat-error>
                <mat-error *ngIf="hasError('password', 'minlength')">password should be minimum 5 character length</mat-error>
                <mat-error *ngIf="hasError('password', 'maxlength')">password should be below 30 character length</mat-error>
                
                
            </mat-form-field>
            <button color="primary" (click)="onVerifyAdminPassword()" mat-flat-button>Verify</button>
        </div>
    

    </mat-card>


</div>
<div class="flex flex-warp" *ngIf="step == 2">
   
        <div class="notify flex justify-center ">
            <mat-icon>devices</mat-icon>
            <div class="flex flex-column"><span class="text-medium">Cafe agent application needs to be install in the client PC for controling the lock/unlock remotely.</span><span class="text-smaller">Please follow the below instructions to setup the app in the desktop.</span></div>
          </div>
          
    <mat-card class="mt-1  w-100 m-2 ">
        <h3 class="flex justify-center"><mat-icon>cloud_download</mat-icon><strong>Downloads</strong></h3>
        <div class="border-line"></div>
        <div class="flex justify-between">
            <span class="flex blue"><mat-icon>file_copy</mat-icon>cafe-agent.exe (windows)</span>
            <span>https://my-cafe-file-uploader.s3.us-east-2.amazonaws.com/cafe-agent/out.zip</span>
            <small>Last Updated: 10/8/2021</small>
            <img src="assets/cafe-agent-snapshot.png" height="200"  />
        </div>
    </mat-card>

      <mat-card class="mt-1  w-100 m-2 ">
        <div class="flex flex-column  ">
            <span  class="heading profile-heading  flex justify-between ">To download cafe-agent software please copy this url and open in the client browser machine  </span>
            <span><strong>https://my-cafe-file-uploader.s3.us-east-2.amazonaws.com/cafe-agent/out.zip</strong></span>
            <span>Use the above secret key in the client agent application.</span>
            <!-- <span class="label-field">Email</span>
            <mat-form-field appearance="outline"   [formGroup]="form">
                <mat-icon matSuffix>alternate_email</mat-icon>
                
                <input matInput formControlName="email">
                <mat-error *ngIf="hasError('email', 'required')">Email is <strong>required</strong></mat-error>
                <mat-error *ngIf="hasError('email', 'email')">Enter a valid email address</mat-error>
                
           </mat-form-field> -->
            <button color="primary" (click)="onDownloadLinkEmail()" mat-flat-button>Done</button>
        </div>
    

    </mat-card>

</div>

<div class="flex flex-warp" *ngIf="step == 3">
   
    <div class="notify flex justify-center ">
        <mat-icon>info</mat-icon>
        <div class="flex flex-column"><span class="text-medium">Check your email account for download cafe-agent link and instructions.</span><span class="text-smaller"></span></div>
    </div>
    
    <mat-card class="mt-1  w-100 m-2 ">
        <span>Unique Secret key is <strong>{{pcCreated.id}}</strong></span>
        <div class="border-line"></div>
        <span>Agent Name: {{pcCreated.pcname}}</span>
    </mat-card>
    
    <mat-card class="mt-1  w-100 m-2 ">
        <span>After your finished downloading the cafe-agent software in the desktop and save secret key<div class="border-line"></div><strong>1. run as administrator</strong> <div class="border-line"></div> <strong>2. Enter the secret key (<strong>{{pcCreated.id}}</strong>) to the desktop cafe-agent application.</strong> <div class="border-line"></div>Secret key will be sent along with your download link. Do not share the cafe secret key or delete it from the email after the use.  <div class="border-line"></div> That client machine will automatically shows up in the mobile app for customer selection.</span>
    </mat-card>
    
    <mat-card class="mt-1  w-100 m-2 ">
        <span>You also need to put <strong>cafe-agent.exe to the startup</strong> and lock the controlpanel, taskmanager, and all the necessary feature to the users. </span>
    </mat-card>
    
</div>
