
     <div class="header opacity-0 p-1  flex justify-between">
        <div class="flex  p-2">
             <mat-icon>toll</mat-icon>
             <span class="title">Cyber Cafe</span>
        </div>
       
        </div>
        <div class="flex justify-between nav">
             <div class="page-name">Cafe Owner Login Account</div>
        </div>
        <div class="border-line "></div>
        
        <div class="bg-white pl-1 flex justify-between pr-1 mlr-1">
             <span class="heading">Don't have an account?</span>
             <button mat-stroked-button color="primary" routerLink="/register"  >Create Account</button>
        </div>
        <mat-card class="p-3 opacity-90 mlr-1">
                  
             <mat-card-actions>
                  
                  <span class="label-field">Username (required)</span>
                  <mat-form-field appearance="outline">
                       <mat-icon matSuffix>account_circle</mat-icon>
                       <input matInput>
                  </mat-form-field>
                  <span class="label-field">Password (required)</span>
                  <mat-form-field appearance="outline">
                       <mat-icon matSuffix>lock</mat-icon>
                  
                       <input matInput type="password"  required>
                       
                  </mat-form-field>
   
             </mat-card-actions>
             <div class="flex">
                  <button  routerLink="/checkinout" mat-flat-button color="primary" class="w-100">Login</button>
             </div>
           </mat-card>