<div  >

    <div class="sticky-div-l"  style="float: left;"></div>
    <div class="sticky-div-l " style="float: right;"></div>
    
    <div class="header opacity-0 p-1  flex justify-between">
        <div class="flex  p-2 justify-equally">
            <mat-icon>toll</mat-icon>
            <span class="title">CyberCafeApp.com</span>
        </div>
    </div>
    
    <router-outlet></router-outlet>
    
    <div id="overlay" *ngIf="formService && formService.loading" ></div>
    <mat-spinner style="top: 50%;left: 45%;position: fixed; margin:0 auto;" *ngIf="formService.loading"></mat-spinner>
    
</div>