   
   <div class="flex justify-between nav">
        <button mat-stroked-button color="primary" (click)="step = 1" *ngIf="step != 1"  ><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
        <div class="page-name">Administrator</div>
        <button routerLink="/settings" *ngIf="step == 1"  mat-stroked-button color="primary" ><mat-icon>settings</mat-icon>Settings</button>
        
   </div>
   <div class="notify flex " *ngIf="step == 1">
        <mat-icon>info</mat-icon> 
        <div class="flex flex-column"><span class="text-medium"></span><span class="text-smaller">Welcome to cyber cafe, To access cafe computer, We request you to please sign-in first. If you have already account created? Feel free to search your account by your mobile number, driving licenses, email address.</span></div>
   </div>

   <div class="bg-white pl-1 flex justify-between pr-1 mlr-1">
        <span class="heading">Don't have an customer account?</span>
        <button routerLink="/customer" mat-stroked-button color="primary" >New Customer</button>
   </div>
   <div class="border-line "></div>
      <mat-card class="p-3 mlr-1"  [ngClass]="adminPassword ? 'opacity-20' : ''">
        
       
        <div *ngIf="step==1">
          <span class="label-field">Customer Identification (e.g: cell number, email id, driving license no.)</span>
          <mat-form-field appearance="outline" [formGroup]="form">
               <mat-icon matSuffix>search</mat-icon>
               <input matInput  formControlName="search" >
               <mat-error *ngIf="hasError('search','required')">
                  search is <strong>required</strong>
             </mat-error>

             </mat-form-field>

           <mat-card-actions>
                
              <div class="flex justify-between">
                  <button (click)="onSubmit()" mat-flat-button color="primary" class="text-center"><mat-icon>search</mat-icon>Search</button>
                  <button routerLink="/cashdeposit" mat-stroked-button color="primary" class="text-center"><mat-icon>print</mat-icon>Other Work</button>
             </div>
           </mat-card-actions>
        </div>
   </mat-card>
   <div class="border-line "></div>

<div class="mt-3 flex justify-between nav mlr-1">
     <span class="page-name">Terminal Logs</span>
</div>

   <div class="mlr-1">
     <dashboard-terminal></dashboard-terminal>
   </div>
   