.dp {
    display: none !important;
}
.card-sel  {
    background-color: darkorange;
}
.card-nor  {
    background-color: antiquewhite;
}
.card {
        min-width: 8rem;
        max-width: 8rem;
        min-height: 6rem;
        margin-left: .10rem;
        margin-top: .10rem;
        cursor: pointer;
}
.card-body {
        padding: 0.25rem;
}
body {
    background-image: url("assets/img/background.png");
    background-repeat: repeat
}
.navbar-nav {
    margin-top: -.65rem;
}
.search-text {
    background-image: url("assets/img/background.png");
    background-repeat: repeat;
    color: #fff;
}
.search-text:focus,
.search-text::placeholder {
    color: #fff !important;
}
.flex-grow-4 {
    
    flex-wrap:  wrap;

}
.flex-ver {
    display: flex;           
    flex-direction: column;
    
}
.flex-hor {
    display: flex;           
    flex-direction: row;
    
}
.just-between {
    justify-content: space-between;
}
.btn-link {
    color: #fff;
}
.expand-section button {
    color: #fff !important;
}
/* small screen */
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .mar-auto {
        margin: auto;
    }
    .pad-25-percent {
        padding: 10%;
    }
    .login {
        background-image: url("assets/img/signin-illustration.png");
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
/* big screen */
@media screen and (min-width: 1024px) { 
    .mar-auto {
        margin: auto;
    }
    .pad-25-percent {
        padding: 25%;
    }
    .login {
        background-image: url("assets/img/signin-illustration.png");
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}
.title {
    color: antiquewhite;
    font-weight: bolder;
    padding: 0 0.5rem 0 0.5rem;
}