@font-face {
    font-family: lato;
    src: url(assets/cc44d5f0a55bb8ccd6f63353c1fca0a0.woff2) format("opentype");
}
  
.app {
    font-family: lato;
    background-image: url("assets/app-background.jpg");
    background-repeat: repeat;
      
}
.opacity-10 {
    opacity: 0.10;
}
.opacity-20 {
    opacity: 0.20;
}
.opacity-30 {
    opacity: 0.30;
}
.opacity-40 {
    opacity: 0.40;
}
.opacity-50 {
    opacity: 0.50;
}
.opacity-60 {
    opacity: 0.60;
}
.opacity-70 {
    opacity: 0.70;
}
.opacity-80 {
    opacity: 0.80;
}
.opacity-90 {
    opacity: 0.90;
}
.opacity-100 {
    opacity: 0.100;
}
.bg-white {
    background: #fff;
    
}
.margin-auto {
    margin: auto;
}
.text-center {
    text-align: center;

}
.p-1 {
    padding: 1vw;
}
.p-2 {
    padding: 2vw;
}
.p-3 {
    padding: 4vh!important;
}
.m-1 {
    margin: 1vw;
}
.m-2 {
    margin: 2vw;
}
.m-3 {
    margin: 3vh;
}
.mt-1 {
    margin-top: 1vh;
}
.mt-2 {
    margin-top: 2vh;
}
.mt-3 {
    margin-top: 3vh;
}
.round-10 {
    border-radius: 10%;
}
.flex {
    display: flex!important;
}
.title {
    
    font-weight: bold;
    margin-left: 1rem;
}
.justify-between {
    justify-content: space-between;
}
.bg-overlay {
    height: 100vh;
    position: absolute;
    border: 2px solid #efefef;
    opacity: 0.4;
    background-color:#BFB8E3;
}
.mat-form-field {
    width: 100%;
    
    font-size: small!important;
    font-family: lato!important;
    line-height: 2!important;
}
.w-100{
    width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: unset !important;
}
.label-field {
    font-size: small;
    font-weight: 600;
    font-family: lato;
}
.logo-pic {
 height: 1rem;
}
.flex-direction {
    flex-direction: column;
}