@font-face {
    font-family: lato;
    src: url(assets/PayPalSansBig-Regular.woff2) format("opentype");
}
 .profile-heading {
     margin: auto 0 0;
 } 
.app {
    font-family: lato;
    background: #f2f2f2;
    overflow: auto;
    font-family: "PayPalSansBig-Regular",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #000;
    padding: 0;
    margin: 0;
}
.fs-smaller {
    font-size: 1.1526rem;
}
.header {
    opacity: 1;
    background-color: #1154AA;
    color: #fff;
}
.green {
    color: #299976;
}
.nav {
    box-shadow: 0 5px 9px rgb(0 0 0 / 9%);
    border-bottom: 1px solid #cbd2d6;
    background-color: #fff;
    height: 2.625rem;
    font-size: .875rem;
}
.heading {
    font-size: 1.0rem;
    font-family: "lato",Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    margin-bottom: 7px;
}
.text-medium {
    font-size: 0.78rem;
}
.text-smaller {
    font-size: 0.66rem;
}
.pr-1 {
    padding-right: 1rem;
}
.pr-2 {
    padding-right: 2rem;
}
.pl-1 {
    padding-left: 1rem;
}
.pl-2 {
    padding-left: 2rem;
}
.pr-1 {
    padding-right: 1rem;
    
}
.mlr-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mlr-2 {
    
    margin-left: 2rem;
    margin-right: 2rem;
}
.border-line {
    border: 1px solid #efefef;
}
.notify {
    background-color: #f5fdfb;
    border: 2px solid #299976;
    min-height: 62px;
    margin: 1rem;
    padding: 1rem;
    float: left;
    width: 95%;
    border-radius: 6px;
    margin-bottom: 20px;
}
.access-code {
    text-align: center;
    font-size: 5rem;
}
.access-code-input  {
    height: 5rem;
    font-size: 2rem!important;
    background: #e3ede3;
    
}
.access-code-input > .mat-form-field-infix {
    height: 5rem;
    font-size: 3rem;
}
.w-10{
    width: 10%;
    
}
.mb-3 {
    margin-bottom: 3rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.text-right {
    text-align: right!important;
}
.w-min-25{
    min-width: 25%;
}

.w-min-20{
    min-width: 20%;
}
.w-min-45{
    min-width: 45%;
}
.admin-password {
    position: absolute;
    background-color: #fff;
    top: 10rem;
    width: 100%;
    -webkit-box-shadow: 5px 5px 35px 5px #000000; 
box-shadow: 5px 5px 35px 5px #000000;
}
.options-prompt-access-code {
    background-color: #e3ede3;
    border: 2px solid #1f4c15;
    margin: 0 0 1rem 0;
    padding: .5rem;
    color: #000;
    font-size: 0.7rem;
    text-align: center;
    height: 10rem;
    -webkit-box-shadow: 5px 5px 14px -5px #000000; 
    box-shadow: 5px 5px 14px -5px #000000;
}
.options-prompt {
    background-color: #e2e6f3;
    border: 2px solid #172f52;
    margin: 0 0 1rem 0;
    padding: .5rem;
    color: #000;
    font-size: 0.7rem;
    text-align: center;
    height: 5rem;
    -webkit-box-shadow: 5px 5px 14px -5px #000000; 
    box-shadow: 5px 5px 14px -5px #000000;
    
}
.computer-prompt {
    background-color: #fff;
    border: 2px solid #5791e7;
    margin: 0 0 1rem 0;
    color: #000;
    font-size: 0.9rem;
    text-align: center;
    height: 14rem;
    -webkit-box-shadow: 5px 5px 14px -5px #000000; 
    box-shadow: 5px 5px 14px -5px #000000;
    margin: .5rem;
    width: 10rem;
    
}
.flex-warp {
    flex-wrap: wrap;
}
.justify-center {
    justify-content: center;
}
.blue {
    color: #1154AA;
}
.computer-prompt-icon {
    font-size: 3rem;
    margin-left: 2.5rem;
    margin-top: unset;
    margin-bottom: 2rem;
    
}
.orange {
    color: orange
}
.red {
    color: red;
}
.profilepic {
    background-color: #fcf9f9;
    border: 2px solid #306234;
    margin: 0 0 1rem 0;
    padding: .5rem;
    border-radius: 50%;
    width: 28%;
    color: #000;
    font-size: 0.7rem;
    text-align: center;
    margin:auto;
}
.page-name {
    margin: auto;

}
.opacity-10 {
    opacity: 0.10;
}
.opacity-20 {
    opacity: 0.20;
}
.opacity-30 {
    opacity: 0.30;
}
.opacity-40 {
    opacity: 0.40;
}
.opacity-50 {
    opacity: 0.50;
}
.opacity-60 {
    opacity: 0.60;
}
.opacity-70 {
    opacity: 0.70;
}
.opacity-80 {
    opacity: 0.80;
}
.opacity-90 {
    opacity: 0.90;
}
.opacity-100 {
    opacity: 0.100;
}
.bg-white {
    background: #fff;
    
}
.margin-auto {
    margin: auto;
}
.text-center {
    text-align: center;

}
.p-1 {
    padding: 1vw;
}
.p-2 {
    padding: 2vw;
}
.p-3 {
    padding: 4vh!important;
}
.m-1 {
    margin: 1vw;
}
.m-2 {
    margin: 2vw;
}
.m-3 {
    margin: 3vh;
}
.mt-1 {
    margin-top: 1vh;
}
.mt-2 {
    margin-top: 2vh;
}
.mt-3 {
    margin-top: 3vh;
}
.round-10 {
    border-radius: 10%;
}
.flex {
    display: flex!important;
}
.title {
    
    font-weight: 100;
    margin-left: 1rem;
}
.justify-between {
    justify-content: space-between;
}
.bg-overlay {
    height: 100vh;
    position: absolute;
    border: 2px solid #efefef;
    opacity: 0.4;
    background-color:#BFB8E3;
}
.mat-form-field-infix  {

    padding: 0 2px 11px 0!important;
    margin: 0px!important;
}
.mat-form-field {
    width: 100%;
    font-size: 14px;
    font-size: .875rem;
    font-weight: normal;
    padding: 0 0 5px 0;
    text-align: left;
    float: none;
    display: block;
    line-height: normal;
    color: #393939;
}
.w-100{
    width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: unset !important;
}
.label-field {
    font-size: .875rem;
    font-weight: normal;
    padding: 0 0 5px 0;
    text-align: left;
    float: none;
    display: block;
    line-height: normal;
    color: #393939;
    font-family: lato;
}
.logo-pic {
 height: 1rem;
 opacity: 0.30;
}
.flex-direction {
    flex-direction: column;
}

.flex-column {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}
.mat-row:hover {
    background-color: #E4DEFC;
  }
  td.mat-cell {
    /* row padding */
    padding: 16px 0;
    /* row border */
    border-bottom: 1px solid #9D93F4;
    border-top: 1px solid #9D93F4;
   }
   
   td.mat-cell:first-child {
     /* row border */
     border-left: 1px solid #9D93F4;
   }
   
   td.mat-cell:last-child {
     /* row border */
     border-right: 1px solid #9D93F4;
   }
   
   table {
     /* row spacing / margin */
     border-spacing: 0 8px !important;
   } 
   .overflow-scroll {
       overflow: scroll;
   }
   .bg-green {
    background-color: green!important;
   }
   .bg-red {
    background-color: red!important;
   }
   .white {
       color: white!important;
   }

   .mat-standard-chip {
        min-height: 20px!important;
       padding: 4px 6px!important;
   }
   .mat-form-field-outline  {
    background: #efefef!important;
    border: 2px solid #7f7e7e!important;
   }