
     <div class="flex justify-between nav">
          <div class="page-name">Add New Account</div>
     </div>
     <div class="notify flex nav-yellow">
          <mat-icon>info</mat-icon> 
          <div class="flex flex-column"><span class="text-medium">Thanks for choosing Cyber Cafe App. We request you to make an cafe account to secure the system.</span><span class="text-smaller"></span></div>
     </div>
     <div class="border-line "></div>
     
     <div class="bg-white pl-1 flex justify-between pr-1 mlr-1 pt-2">
          <span class="heading">Already have account?</span>
          <button mat-stroked-button color="primary" routerLink="/login"  >Login</button>
     </div>
     <mat-card class="p-3 opacity-90 mlr-1">
               
          <mat-card-actions>
               
              
               <span class="label-field">Email Address (required)</span>
               <mat-form-field appearance="outline"   [formGroup]="form">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    <input matInput  formControlName="email">
                    <mat-error *ngIf="hasError('email', 'required')">Email is <strong>required</strong></mat-error>
                    <mat-error *ngIf="hasError('email', 'email')">Enter a valid email address</mat-error>
                    

               </mat-form-field >
               <span class="label-field">Password (required)</span>
               <mat-form-field appearance="outline"  [formGroup]="form">
                    <mat-icon matSuffix>lock</mat-icon>
               
                    <input matInput type="password"  required formControlName="password">
                    <mat-error *ngIf="hasError('password', 'required')">Email is <strong>required</strong></mat-error>
                    <mat-error *ngIf="hasError('password', 'minlength')">password should be minimum 5 character length</mat-error>
                    <mat-error *ngIf="hasError('password', 'maxlength')">password should be below 30 character length</mat-error>
                    
                    
               </mat-form-field>

               <span class="label-field">Cafe Name (required)</span>
               <mat-form-field appearance="outline"  [formGroup]="form">
                    <mat-icon matSuffix>book</mat-icon>
                    <input matInput  formControlName="orgname" >
                    <mat-error *ngIf="hasError('orgname', 'required')">Organization name is <strong>required</strong></mat-error>

               </mat-form-field>

               <span class="label-field">Cell Number (required)</span>
               <mat-form-field appearance="outline"  [formGroup]="form">
                    <mat-icon matSuffix>dialer_sip</mat-icon>
                    <input matInput required  formControlName="cellphone" maxlength="12">
                    <mat-error *ngIf="hasError('cellphone','required')">
                         Phone Number is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="hasError('cellphone', 'minlength')">phone number should be 7 digit</mat-error>
                    <mat-error *ngIf="hasError('cellphone', 'maxlength')">phone number should be 12 digit</mat-error>
                    
               </mat-form-field>

               <span class="label-field">Country (required)</span>
               <mat-form-field appearance="outline"  [formGroup]="form">
                    <mat-icon matSuffix>flag</mat-icon>
                    <select matNativeControl required formControlName="country">
                         <option *ngFor="let item of countryList" value="{{item}}">{{item}}</option>
                       </select>
                    
               </mat-form-field>
          </mat-card-actions>
          <div class="flex">
               <button  mat-flat-button color="primary" class="w-100" (click)="onSubmit()">Register</button>
          </div>
        </mat-card>