
     <div class="opacity-70 bg-white p-1 flex justify-between">
     <div class="flex  p-2">
          <mat-icon>toll</mat-icon>
          <span class="title">Cyber Cafe</span>
     </div>
    
     </div>
     <mat-card class="flex justify-between mt-2">
          <div class="label-field">Add New Account</div>
          <div class="logo-pic"><img src="assets/229660-200.png"></div>
       
     </mat-card>
     <mat-card class="mt-1 p-3 opacity-90">
               
          <mat-card-actions>
               
               <span class="label-field">Username</span>
               <mat-form-field appearance="outline">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <input matInput>
               </mat-form-field>
               <span class="label-field">Email Address</span>
               <mat-form-field appearance="outline">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                    
                    <input matInput>
               </mat-form-field>
               <span class="label-field">Password</span>
               <mat-form-field appearance="outline">
                    <mat-icon matSuffix>lock</mat-icon>
               
                    <input matInput type="password"  required>
                    
               </mat-form-field>

               <span class="label-field">Cafe Name</span>
               <mat-form-field appearance="outline">
                    <mat-icon matSuffix>book</mat-icon>
                    <input matInput>
               </mat-form-field>

               <span class="label-field">Cell Number</span>
               <mat-form-field appearance="outline">
                    <mat-icon matSuffix>dialer_sip</mat-icon>
                    <input matInput>
               </mat-form-field>
          </mat-card-actions>
          <div class="flex">
               <button mat-flat-button color="primary" class="w-100">Register</button>
          </div>
        </mat-card>