<div class="flex justify-between nav">
        <div class="page-name">Billing</div>
   </div>
   <div class="border-line "></div>

   <div class="flex justify-center  mt-3">
    <img src="assets/billing-icon.png" height="100" />
</div>
<div class="flex justify-center">
    <span  class="heading profile-heading"><strong>Payment Deposit</strong></span>
</div>
<div class="border-line"></div>
<mat-card class="mt-1  s-smaller" [ngClass]="(paymentMaking || overlaybackground) ? 'opacity-20' : ''" >
    <div  *ngIf="customerDetail" class="flex flex-row justify-between">
        <span  class="heading profile-heading capitalize"><strong> {{customerDetail.name}} </strong></span>
        <div class="border-line"></div>
 
        <img *ngIf="!customerDetail.picProfilePic" src="assets/1586650.png" height="50" />
        <img *ngIf="customerDetail.picProfilePic" [src]="customerDetail.picProfilePic" height="50" />
    </div>
   <div class="border-line"></div>
   <div  *ngIf="customerDetail" class="flex flex-column justify-between">
    <span  class="label-field">{{customerDetail.address}}</span>
    <span  class="label-field">Cell: {{customerDetail.cellphone}} </span>
    <span  class="label-field">Email: {{customerDetail.email}}</span>
</div>
<div class="border-line"></div>
<div *ngIf="billingDetail" class="flex flex-column justify-between">
    <span  class="label-field">Bill Date: {{billingDetail.billDt}} </span>
    <span  class="label-field">Start Time: {{billingDetail.checkIn}}</span>
    <span  class="label-field">Out Time: {{billingDetail.checkout}}</span>
    <span  class="label-field">Timer: {{billingDetail.timer}}min</span>
    
</div>
</mat-card>

<mat-card class="mt-1  s-smaller" [ngClass]="(paymentMaking || overlaybackground) ? 'opacity-20' : ''">

    <div class="flex flex-column justify-between">
    <span  class="heading profile-heading"><strong>Billing</strong></span>
    
    <div>
        <div  class="flex justify-between" *ngFor="let i of [1,2,3,4,5,6,7,8,9]" >
            <span [ngClass]="getProduct(i) == null ? 'dp' : ''" class="label-field w-min-25">{{getProduct(i)}}</span>
            <span  [ngClass]="getProduct(i) == null ? 'dp' : ''" class="label-field w-min-25">{{getDescription(i)}}</span>
            <span [ngClass]="getProduct(i) == null ? 'dp' : ''">x</span>
            <input [ngClass]="getProduct(i) == null ? 'dp' : ''" type="text" id="txtQty{{i}}" (keyup)="onCalculate()" class="mb-3 w-10"/> 
            <span [ngClass]="getProduct(i) == null ? 'dp' : ''" >=</span>
            <span [ngClass]="getProduct(i) == null ? 'dp' : ''" class="label-field w-min-25 green text-right">{{getCost(i)}}</span>
        </div>
        <div class="border-line"></div>
    </div>

      
    <div class="flex justify-between">
        <span  class="heading profile-heading"><strong>Total</strong></span>
        <span  class="heading profile-heading"><strong>{{totalSum}}</strong></span>
    </div>
    <div class="border-line"></div>

    <mat-card-actions>
                   
        <div class="flex justify-between">
         <button routerLink="/admindashboard"  mat-button color="primary" class="text-center"><mat-icon>keyboard_arrow_left</mat-icon>Cancel</button>
         <button (click)="onPaidMoney()" mat-flat-button color="primary" class=" green text-center"><mat-icon>paid</mat-icon>Paid</button>
       </div>
     </mat-card-actions>
     
 </div>

 </mat-card>

 
   
<div class="flex flex-warp admin-password" *ngIf="paymentMaking">
    <mat-card class="mt-1  w-100 m-2 ">
        <div class="flex flex-column  ">
            <span  class="heading profile-heading  flex justify-between "><strong>Thanks for the payment</strong></span>
            <span class="label-field">Account Updated for that session. </span>
            
            <button color="primary" (click)="onRouteAdminDashboard()" mat-flat-button>Ok</button>
        </div>
    
 
    </mat-card>
 
 
 </div>