<div  *ngIf="data">


<mat-card class="mt-1  opacity-90 fs-smaller" *ngFor="let row of data">
        <div>
            <span *ngIf="row.selfCheckIn">OTP Login: <strong class="green"><mat-icon>textsms</mat-icon>Yes</strong></span>
            <div class="flex justify-between ">
                
                <div class="heading">{{row.agentName}} <span *ngIf="row.timer" class="green"> (Session: {{row.timer}}min)</span></div>
                <button *ngIf="row.checkIn && row.checkout == null" color="warn" (click)="lockMachine = true; lockItem = row;" mat-flat-button><mat-icon class="fs-smaller">lock</mat-icon>Lock</button>
                <button *ngIf="row.billPaid == false && (row.checkIn && row.checkout)" color="primary"  routerLink="/cashdeposit/{{row.id}}"  mat-flat-button>Bill</button>
                 
            </div>
            
            <div class="border-line"></div>
            <div class="flex  flex-row justify-between">
                <span class="flex"><button color="primary" mat-icon-button><mat-icon class="fs-smaller">verified_user</mat-icon>{{row.checkInDate}} - {{row.customerName}}</button></span>
                <span *ngIf="row.billPaid"><mat-chip-list><mat-chip class="bg-green white mt-3">Paid</mat-chip></mat-chip-list></span>
                <span *ngIf="!row.billPaid"><mat-chip-list><mat-chip class="bg-red white mt-3">Not Paid</mat-chip></mat-chip-list></span>
                
                
               
            </div> 
            <div class="flex justify-between">
                <div  class="flex">
                    <mat-chip-list>
                        <mat-chip *ngIf="row.checkIn" class=""><mat-icon class="fs-smaller mt-2">wifi</mat-icon>In: {{row.checkInTime}}</mat-chip>
                        <mat-chip *ngIf="row.checkout" class=""><mat-icon class="fs-smaller mt-2">wifi_off</mat-icon>Out: {{row.checkOutTime}}</mat-chip>
                        <mat-chip *ngIf="row.checkIn && row.checkout"><mat-icon class="fs-smaller mt-2 green">sync_alt</mat-icon>Duration: {{row.duration}}</mat-chip>
                    </mat-chip-list></div>
                    <div class="flex"><button color="primary"  mat-button><mat-icon class="fs-smaller green">currency_rupee</mat-icon>{{row.billTotal}}</button></div>
                

            </div>
          
            
        </div>
         <mat-card-actions>
           
         </mat-card-actions>
         

       </mat-card>
    </div>

    

<div class="flex flex-warp admin-password" *ngIf="lockMachine">
    <mat-card class="mt-1  w-100 m-2 ">
        <div class="flex flex-column  ">
            <span  class="heading profile-heading  flex justify-between "><strong>Are you sure?</strong></span>
            <span class="label-field">Do you want to disconnect and lock the client machine remotely? </span>
            <div class="flex justify-between">
                <button color="primary" (click)="lockMachine = false" mat-stroked-button>Cancel</button>
                <button color="warn" (click)="onLockPC(lockItem); lockMachine = false" mat-flat-button><mat-icon class="fs-smaller">lock</mat-icon>Lock</button>
            </div>
        </div>
    
 
    </mat-card>
 
 
 </div>
 