p {
    font-family: Lato;
  }
  
  .img-reset {
    height: 40%;
    width: 40%;
    border-radius: 0%;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 137px;
    width: 132px;
    border: 5px solid #000;
    border-radius: 50%;
  }
  .hoverable .hover-text{
    position: absolute;
    display: none;
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%);   
    z-index: 2;
  }
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
  .hoverable:hover .hover-text{
    display: block;
  }
  .hoverable:hover .background{
    display: block;
  }
  .fileInput {
    display: none;  
  }
  #fileInput{
    display: none;
  }
  .hoverable-id {
    position: relative;
    display: block;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 3%;   
    width: 300px;
    height: 180px;
    margin-bottom: 50px;
  }
 .img-id {
    height: 100%;
    width: 100%;
    border-radius: 3%;
    padding: 9%;
    background: #efefef;
  }