<div class="flex justify-between nav">
          <div class="page-name"><mat-icon>person</mat-icon>New Customer</div>
     </div>
        <div class="notify flex ">
          <mat-icon>info</mat-icon> 
          <div class="flex flex-column"><span class="text-medium">The government of India issues a gazettes notifying that no cyber café can run freely without any registration, registration from appropriate authority is very needful and compulsory. The owner running the cafe must contain the records of all the users and the staffs working inside the cafe.</span><span class="text-smaller">On 11 September 2011,</span></div>
        </div>

        
        <div class="bg-white pl-1 flex justify-between pr-1 mlr-1 pt-2">
             <span class="heading">Already have account?</span>
             <button mat-stroked-button color="primary" routerLink="/admindashboard"  ><mat-icon>manage_search</mat-icon>Find Customer</button>
        </div>
        <div class="border-line "></div>
     
        <mat-card class="p-3 opacity-90 mlr-1">
                  
               <div *ngIf="step <= 1">
                  <span class="label-field">Name (Required)</span>
                  <mat-form-field appearance="outline"  [formGroup]="form">
                       <mat-icon matSuffix>account_circle</mat-icon>
                       <input tabindex="0" matInput (keyup.enter)="onNextPage()"  formControlName="name" >
                       <mat-error *ngIf="hasError('name','required')">
                         name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  
                </div>    
               
                <div *ngIf="step <= 1">
                   
                    <div class="flex justify-center">
                         <div class="flex flex-column">
                              <div *ngIf="!webcamsAvailable">
                                   <span *ngIf="!isMobile">
                                        <strong>How to allow Chrome to access the web camera?</strong>
                                        <ul>
                                             <li>Navigate via address-bar to <u><a href='chrome://flags/#unsafely-treat-insecure-origin-as-secure' >chrome://flags/#unsafely-treat-insecure-origin-as-secure</a></u> in Chrome.</li>
                                             <li>Add the address <u><a href="javascript:void(0)">http://ec2-3-132-213-115.us-east-2.compute.amazonaws.com:8080</a></u> to ignore the secure origin policy for.</li>
                                             <li>Save and restart Chrome.</li>
                                        </ul>
                                   </span>
          
                                   </div>
                              <small  *ngIf="webcamsAvailable">WebCam is available to take the picture</small>
                              <span><small>less than 2MB {{webcamsAvailable}}</small></span>
                         
                         <div *ngIf="!webcamsAvailable">
                              
                              <label class="hoverable" for="fileInput">
                                   <img [src]="tmpProfilepic ? tmpProfilepic : 'assets/img_avatar.png'"> 
                                   <mat-icon matSuffix>camera_enhance</mat-icon>
                                   <div class="hover-text">Profile Pic</div>
                                   <div class="background"></div>
                                 </label>
                                 
                              <input id="fileInput" type='file' (change)="onSelectFileProfilePic($event)">
                         </div>
                        
                         <div *ngIf="webcamsAvailable">
                              
                              <label class="hoverable" (click)="onSelectFileProfilePic($event)">
                                   <img [src]="tmpProfilepic ? tmpProfilepic : 'assets/img_avatar.png'"> 
                                   <mat-icon matSuffix>camera_enhance</mat-icon>
                                   <div class="hover-text">Profile Pic</div>
                                   <div class="background"></div>
                              </label>
                              
                              <input id="fileInput" type='file' (change)="onSelectFileProfilePic($event)">
                              
                         </div>
                    </div>
                    </div>
                    


  
                  </div>            
                <div *ngIf="step == 1">
                    <span class="label-field">Cell Phone Number (Required)</span>
                    <mat-form-field appearance="outline"  [formGroup]="form">
                         <mat-icon matSuffix>phone_android</mat-icon>
                         <input  tabindex="0"  (keyup.enter)="onNextPage()"   matInput  formControlName="cellphone" maxlength="10" >
                         <mat-error *ngIf="hasError('cellphone','required')">
                              Phone Number is <strong>required</strong>
                         </mat-error>
                         <mat-error *ngIf="hasError('cellphone', 'minlength')">phone number should be 10 digit</mat-error>
                         <mat-error *ngIf="hasError('cellphone', 'maxlength')">phone number should be 10 digit</mat-error>
                         
                    </mat-form-field>
                </div>
                  <div *ngIf="step == 1">
                  <span class="label-field">Home Address Of Your Current Residence (Required)</span>
                  <mat-form-field appearance="outline"  [formGroup]="form">
                       <mat-icon matSuffix>book</mat-icon>
                       <input (keyup.enter)="onNextPage()"  matInput  formControlName="address">
                       <mat-error *ngIf="hasError('address', 'required')">address is <strong>required</strong></mat-error>
                     
                  </mat-form-field>
                </div>
                  <div *ngIf="step == 1">

                  <span class="label-field"><mat-icon matSuffix>face</mat-icon>Gender</span>
                  <div class="mt-2"  [formGroup]="form">
                       <mat-radio-group class="flex flex-column" formControlName="gender">
                        <mat-radio-button value="m" checked=true name="gender">Male </mat-radio-button>
                        <mat-radio-button value="f" name="gender">Female</mat-radio-button>
                      </mat-radio-group> 
                    </div>
                </div>
                <div *ngIf="step == 2">
                    <span class="label-field">Identification Proof (Required)</span>
                    <div class="border-line"></div>

                    
               <div>
                    <mat-form-field  [formGroup]="form">
                         <input formControlName="iddirivinlicenseno" matInput placeholder="Driving License Number">
                    </mat-form-field>
               </div>
               <div class="flex justify-center">
                    
                    <div *ngIf="webcamsAvailable">
                         <label class="hoverable-id" (click)="onSelectFileDrivingPic($event)">>
                              <img class="img-id" [src]="tmpDrivingCardpic ? tmpDrivingCardpic : 'assets/driving-license-sample.jpg'" > 
                              <mat-icon matSuffix>camera_enhance</mat-icon>
                              <div class="background"></div>
                         </label>
                         <input class="fileInput" id="fileInputDrivingPic" type='file' (change)="onSelectFileDrivingPic($event)">
                         
                    </div>
                    <div *ngIf="!webcamsAvailable">
                         <label class="hoverable-id" for="fileInputDrivingPic">
                              <img class="img-id" [src]="tmpDrivingCardpic ? tmpDrivingCardpic : 'assets/driving-license-sample.jpg'" > 
                              <mat-icon matSuffix>camera_enhance</mat-icon>
                              <div class="background"></div>
                         </label>
                         <input class="fileInput" id="fileInputDrivingPic" type='file' (change)="onSelectFileDrivingPic($event)">
                    </div>
                    <br />
                    

               </div>


                    
                    <div class="border-line"></div>

                    <div>
                         <mat-form-field  [formGroup]="form">
                              <input formControlName="idpancard" matInput placeholder="PAN Card Number">
                         </mat-form-field>
                    </div>
                    <div class="flex justify-center">
                         <div *ngIf="webcamsAvailable">
                              <label class="hoverable-id"  (click)="onSelectFilePANPic($event)">
                                   <img class="img-id" [src]="tmpPANCardpic ? tmpPANCardpic : 'assets/pan-card-sample.jpg'" > 
                                   <mat-icon matSuffix>camera_enhance</mat-icon>
                                   <div class="background"></div>
                              </label>
                              <input class="fileInput" id="fileInputPANPic" type='file' (change)="onSelectFilePANPic($event)">
                                 
                         </div>
                         <div *ngIf="!webcamsAvailable">
                              <label class="hoverable-id" for="fileInputPANPic">
                                   <img class="img-id" [src]="tmpPANCardpic ? tmpPANCardpic : 'assets/pan-card-sample.jpg'" > 
                                   <mat-icon matSuffix>camera_enhance</mat-icon>
                                   <div class="background"></div>
                              </label>
                              <input class="fileInput" id="fileInputPANPic" type='file' (change)="onSelectFilePANPic($event)">
                             
                         </div>
                            
                         <br />
                         
     
                    </div>


                    
               <div class="border-line"></div>


               <div>
                    <mat-form-field  [formGroup]="form">
                         <input formControlName="idadharcard" matInput placeholder="Adhar Card Number">
                    </mat-form-field>
               </div>
               <div class="flex justify-center">
                    
                    <div *ngIf="webcamsAvailable">
                         <label class="hoverable-id"  (click)="onSelectFileAdharPic($event)">
                              <img class="img-id" [src]="tmpAdharCardpic ? tmpAdharCardpic : 'assets/adhar-card-sample.png'" > 
                              <mat-icon matSuffix>camera_enhance</mat-icon>
                              <div class="background"></div>
                         </label>
                         <input class="fileInput" id="fileInputAdharCard" type='file' (change)="onSelectFileAdharPic($event)">
                             
                    </div>
                    <div *ngIf="!webcamsAvailable">
                         <label class="hoverable-id" for="fileInputAdharCard">
                              <img class="img-id" [src]="tmpAdharCardpic ? tmpAdharCardpic : 'assets/adhar-card-sample.png'" > 
                              <mat-icon matSuffix>camera_enhance</mat-icon>
                              <div class="background"></div>
                         </label>
                         <input class="fileInput" id="fileInputAdharCard" type='file' (change)="onSelectFileAdharPic($event)">
                        
                    </div>
                  <br />
                    

               </div>



                 
               <div class="border-line"></div>

               
               <div>
                    <mat-form-field  [formGroup]="form">
                         <input formControlName="idothercard" matInput placeholder="Other Id">
                    </mat-form-field>
               </div>
               <div class="flex justify-center">
                    
                    <div *ngIf="webcamsAvailable">
                     
                         <label class="hoverable-id"  (click)="onSelectFileOtherPic($event)">
                              <img class="img-id" [src]="tmpOtherCardpic ? tmpOtherCardpic : 'assets/idproof.png'" > 
                              <mat-icon matSuffix>camera_enhance</mat-icon>
                              <div class="background"></div>
                         </label>
                         <input class="fileInput" id="fileInputOtherPic" type='file' (change)="onSelectFileOtherPic($event)">
                         
                    </div>
                    <div *ngIf="!webcamsAvailable">
                    
                         <label class="hoverable-id" for="fileInputOtherPic">
                              <img class="img-id" [src]="tmpOtherCardpic ? tmpOtherCardpic : 'assets/idproof.png'" > 
                              <mat-icon matSuffix>camera_enhance</mat-icon>
                              <div class="background"></div>
                         </label>
                         <input class="fileInput" id="fileInputOtherPic" type='file' (change)="onSelectFileOtherPic($event)">
                     
                    </div>
                        <br />
                    

               </div>




          </div>
          <div class="border-line "></div>

       

             <div class="flex justify-between"  *ngIf="step != 2">
               <button mat-stroked-button color="primary"  *ngIf="step == 1" routerLink="/admindashboard"><mat-icon>keyboard_arrow_left</mat-icon>Back</button> 
               <button mat-stroked-button color="primary" *ngIf="step != 1"  (click)="onPrevPage();"><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
                <button mat-flat-button color="primary"  (click)="onNextPage()">Next</button>
           </div>

             <div class="flex justify-between"  *ngIf="step == 2">
                    <button mat-stroked-button color="primary" (click)="onPrevPage()"><mat-icon>keyboard_arrow_left</mat-icon>Back</button>

                  <button  (click)="onSubmit()" mat-flat-button color="primary" >Create Customer</button>
             </div>
</mat-card>


<div class="flex flex-warp admin-password" *ngIf="cellPhoneAlreadyExists">
     <mat-card class="mt-1  w-100 m-2 ">
         <div class="flex flex-column  ">
             <span  class="heading profile-heading  flex justify-center"><mat-icon>info</mat-icon><strong>That cell phone number is taken. </strong></span>
             <span class="label-field">That cell phone number already exists in our record. Do you want to load this customer profile for signin?</span>
               <div class="border-line"></div>
             <div class="flex justify-between mt-3">
               <button color="primary" (click)="cellPhoneAlreadyExists = false" mat-stroked-button>No</button>
               <button color="primary" routerLink="/customerlookup/{{f.cellphone.value}}/customer" mat-flat-button>Yes</button>
          </div>
         </div>
     </mat-card>
  </div>



  <div class="flex flex-warp admin-password"  [ngClass]="webcamsStart ? '' : 'dp'">
     <mat-card class="mt-1  w-100 m-2 ">
          <app-webcam-pictures (webCamClose)="webCamClose($event)" (webCamPic)="webPicListener($event)"  ></app-webcam-pictures>
     </mat-card>
  </div>

  