

   
   <div class="flex justify-between nav">
    <button routerLink="/admindashboard" mat-stroked-button color="primary"   ><mat-icon>keyboard_arrow_left</mat-icon>Back</button>
        <div class="page-name">Settings</div>
        <button (click)="logout()" mat-stroked-button color="primary"   ><mat-icon>logout</mat-icon>Logout</button>

   </div>
   <div class="border-line "></div>

   <div class="flex justify-center  mt-3">
    <img src="assets/settings-cafe.jpg" height="100" />
</div>
<div class="flex justify-center"> 
    <span  class="heading profile-heading"><strong>Cafe Information & Settings</strong></span>
</div>
<div class="flex mt-3 justify-center">
    <span>Username: <strong>{{userData.username}}</strong></span>
</div>
<div class="border-line"></div>

<mat-card class="p-3 mlr-1"  >
    <div class="flex justify-between">
        <mat-form-field  [formGroup]="form" >

        <span >Cafe Name:</span>
        <input matInput formControlName="cafeName" />
        </mat-form-field>
    </div>
    <div class="border-line"></div>
    <div class="flex justify-between">
        <mat-form-field  [formGroup]="form" >
        <span >Cell Number:</span>
        <input matInput  formControlName="cellphone" />
        </mat-form-field>
    </div>
    <div class="border-line"></div>
    <div class="flex justify-between">
        <mat-form-field  [formGroup]="form" >
        <span>Cafe Address:</span>
        <input matInput  formControlName="cafeAddress" />
        </mat-form-field>
    </div>
    
    <div class="border-line"></div>
    <div class="flex justify-between">
        <span>Cafe Agent.exe</span>
        <button  mat-stroked-button color="primary" routerLink="/agentsetup"   ><mat-icon>public</mat-icon>Download - Cafe Agent.exe</button>
        
    </div>
    <div class="border-line"></div>
    <div class="flex justify-center">
        <span class="heading">Product & Services</span>
    </div>
    <div class="border-line"></div>
    <div class="flex justify-center">
        <mat-table class="w-100" [dataSource]="dataSource" >
            <ng-container matColumnDef="product">
                <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
                <mat-cell *matCellDef="let element" > 
                    <mat-form-field  [formGroup]="form" >
                        <input matInput  [formControlName]="element.product" [placeholder]="element.product" />
                    </mat-form-field>
                     </mat-cell>
              </ng-container>
              <ng-container matColumnDef="desc">
                <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <mat-form-field  [formGroup]="form" >
                        <input matInput [formControlName]="element.desc" [placeholder]="element.desc" />
                    </mat-form-field>
                     </mat-cell>
              </ng-container>
              <ng-container matColumnDef="perCost">
                <mat-header-cell *matHeaderCellDef> Per Item Cost </mat-header-cell>
                <mat-cell *matCellDef="let element"> 
                    <mat-form-field  [formGroup]="form" >
                        <input matInput [formControlName]="element.perCost" [placeholder]="element.perCost" />
                    </mat-form-field> </mat-cell>
              </ng-container>
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>  </mat-header-cell>
                <mat-cell *matCellDef="let element"> </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
    <div class="flex justify-between">
        <button (click)="onSave()" mat-flat-button color="primary"   ><mat-icon>check</mat-icon>Save</button>
    </div>

</mat-card>